PORT = 4000

MONGO_URI = 
JWT_SECRET = supersecretjwtkey_for_eventnest
ADMIN_EMAIL = admin@admin.com
STRIPE_SECRET_KEY = 
STRIPE_PUBLISHABLE_KEY =

# Nodemailer SMTP Configuration
NODEMAILER_EMAIL=
NODEMAILER_PASS=

